.alert > h4 {
	margin-bottom: 0.4em;
	color: inherit;
}

a {
	color: #9c3521;
}

a:hover {
	color: #187237;
}

.alert > a {
	color: inherit;
	text-decoration: underline;
}

.alert > a:hover {
	color: #9c3521;
}