<div class="page-header">
  <h1>
    {{ page.title }} {% if page.tagline %} 
    <small>{{ page.tagline }}</small>{% endif %}
  </h1>
  <div style="margin-top: 0.5em; margin-bottom: 0.5em;">
    {% if page.filename %}
      <!-- 
        -- Generate the link to the file in the Github
        -- repo. TODO: Remove the need for the
        -- explicit page.filename attribute in the
        -- page file.
        -->
      <div class="btn-group">
      <a href="https://github.com/dogweather/railsdocs.org/edit/gh-pages/{{page.filename}}"
    class="btn btn-mini"><i class="icon-edit"></i> Edit</a>
      <a href="https://github.com/dogweather/railsdocs.org/blame/gh-pages/{{page.filename}}" class="btn btn-mini"><i class="icon-user"></i> View Who Wrote What</a>
      <a href="https://github.com/dogweather/railsdocs.org/commits/gh-pages/{{page.filename}}" class="btn btn-mini"><i class="icon-time"></i> View History</a>
      </div>
    {% endif %}
  </div>
</div>

<div class="row">
  <div class="span8">
    {{ content }}

    <br/>&nbsp;<br/>
    <br/>&nbsp;<br/>
    
    <div class="well">
      {% include JB/comments %}
    </div>
  </div>

  <div class="span4">
  </div>
</div>
