<div class="page-header">
  <h1>
    {{ page.title }} {% if page.tagline %} 
    <small>{{ page.tagline }}</small>{% endif %}
    <div style="float: right">
      {% if page.filename %}
      <!-- 
        -- Generate the link to the file in the Github
        -- repo. TODO: Remove the need for the
        -- explicit page.filename attribute in the
        -- page file.
        -->
      <a href="https://github.com/dogweather/railsdocs.org/edit/gh-pages/{{page.filename}}" class="btn">Edit</a>
      <a href="https://github.com/dogweather/railsdocs.org/blame/gh-pages/{{page.filename}}" class="btn">Who Wrote What?</a>
      <a href="https://github.com/dogweather/railsdocs.org/commits/gh-pages/{{page.filename}}" class="btn">History</a>
      <!-- Testing which attributes are accessible -->
      <!-- <p>basename {{page.basename}}</p>
	   <p>name {{page.name}}</p>
      <p>dir {{page.dir}}</p>
      <p>base {{page.base}}</p>
      <p>output_ext {{page.output_ext}}</p>
      <p>permalink {{page.permalink}}</p>
      
      <p>filename {{page.filename}}</p>
      <p>url {{page.url}}</p> -->
      {% endif %}
    </div>
  </h1>
</div>

<div class="row-fluid">
  <div class="span8">
    {{ content }}

    <br/>&nbsp;<br/>
    <br/>&nbsp;<br/>
    
    <div class="well">
      {% include JB/comments %}
    </div>
  </div>

  <div class="span4">
  </div>
</div>
